<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script  defer src="scripts.js"></script>
    <script src="https://kit.fontawesome.com/3bb7188dce.js" crossorigin="anonymous"></script>
    <title>Sunsha Holistic Collective</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>