 <!-- nav bar -->
 <div class="navbar">
    <div class = logoImageContainer>
        <img src="./images /logo 1.jpg">
    </div>
<nav>
<ul>
    <li><a href="./index.html">Home</a></li>
    <li><a href="./herbals.html">Herbal Catalog</a></li>
    <li><a href="./book.html">Book Now</a></li>
    
</ul>
</nav>

<div class="icons">
<i class="fa-solid fa-magnifying-glass"></i>
<i class="fa-thin fa-bars"></i>
<i class="fa-regular fa-user"></i>     
</div>
</div>
<!-- end of nav bar -->