<%- include('../partials/head')-%>
<%- include('../partials/nav')-%>


<!-- start of page contatiner -->
<div class="about-page-container">
<h1>About Sunsha Holistic Collective</h1>
<p> The Sunsha Collective was established in 2020, and strives to educate and assist people in all aspects of holistic health. While many people began to look for natural alternatives to medicine, the Sunsha Collective was created as a starting point for a spiritual journey into divine wellness. Here you will find books and resources that help start your healing journey and natural herbal remedies. If you seek counseling assistance, the collective provides information on counselors within your area. As well as places to purchase wellness merchandise.</p>
</div>
    <div class="resources-links">
    <h1> Resource</h1>
    <h2>Below is list of books that we recommend to beign your path to divine living</h2> 
    <img src="./images /about-pageimage.jpeg">
    <ul>
        <li><a href="https://www.amazon.com/Heal-Thyself-Health-Longevity-Queen/dp/1617590398"> Queen Afua:Heal Thyself for Health and Longevity</a></li>
        <li><a href="https://www.amazon.com/African-Holistic-Health-Llaila-Afrika/dp/1617590312"> Dr.Llaila:Afrika African Holistic Health</a></li>
        <li><a href="https://www.amazon.com/Staying-Healthy-Seasons-Elson-Haas/dp/1587611422/ref=sr_1_1?keywords=Staying+healthy+with+the+Seasons&qid=1678511561&s=books&sr=1-1">Elson M. Haas:Staying Healthy With the Seasons</a></li>
        <li><a href="https://www.amazon.com/Power-Now-Guide-Spiritual-Enlightenment/dp/1577314808?crid=386UTIRDR6HAF&keywords=power+of+now+eckhart+tolle&qid=1658520918&sprefix=power+of+now,aps,172&sr=8-1&linkCode=sl1&tag=sumeetaseek0a-20&linkId=f5fa4d957e79828ff54520da61889611&language=en_US&ref_=as_li_ss_tl"> Eckhart Tolle: The Power of Now: A Guide to Spiritual Enlightenment</a></li>
        <li><a href="https://www.amazon.com/SEVEN-SPIRITUAL-LAWS-SUCCESS/dp/8194967473/ref=sr_1_4?crid=32VWOZ4QAARMB&keywords=7+spiritual+laws+of+success+by+deepak+chopra&qid=1678551927&sprefix=7+spiritual+laws+of+success+by+deepak+chopra%2Caps%2C86&sr=8-4 ">Deepak Chopra:The Seven Spiritual Laws of Success</a></li>
        <li><a href="https://www.amazon.com/Alchemist-Paulo-Coelho/dp/0062315005/ref=sr_1_1?crid=O781TFVLNAG1&keywords=alchemist+book+paulo+coelho&qid=1678552067&sprefix=alchemist+book+%2Caps%2C76&sr=8-1">Paulo Coelho:The Alchemist</a></li>
        <li><a href="https://www.amazon.com/Four-Agreements-Practical-Personal-Freedom/dp/1878424319/ref=sr_1_1?crid=QYCWF592C6HF&keywords=the+four+agreements+book&qid=1678552551&sprefix=the+four%2Caps%2C121&sr=8-1">Don Miguel Ruiz: The Four Agreements</a></li>
        <li><a href="https://www.amazon.com/Herbal-Alchemists-Handbook-Complete-Magickal/dp/1578637058/ref=asc_df_1578637058/?tag=hyprod-20&linkCode=df0&hvadid=509271538023&hvpos=&hvnetw=g&hvrand=881797211935973203&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1018127&hvtargid=pla-901094787569&psc=1">Karen Harrison:The Herbal Alchemists Handbook</a></li>
        <li><a href="https://www.amazon.com/Rosemary-Gladstars-Herbal-Recipes-Vibrant/dp/1603420789/ref=sr_1_1?keywords=Herbal+Recipes+For+Vibrant+Health&qid=1678553461&s=books&sr=1-1">Rosemary Gladstar: Herbal Remedies for Vibrant Health</a></li>
        <li><a href="https://www.amazon.com/Body-into-Balance-Holistic-Self-Care/dp/1612125352/ref=sr_1_1?crid=19CTIIGEN46C6&keywords=Body+Into+Balance&qid=1678556300&sprefix=body+into+balance%2Caps%2C113&sr=8-1">Maria Noel Groves:Body into Balance: An Herbal Guide to Holistic Self-Care</a></li>
        <li><a href="https://www.amazon.com/gp/product/1570672970/ref=as_li_qf_asin_il_tl?ie=UTF8&tag=justinpluslau-20&creative=9325&linkCode=as2&creativeASIN=1570672970&linkId=4408fb4ca9b3ffafdfbfdacecab937cd">Brenda Davis: Becoming Vegan </a></li>
    </ul>
</div>
<!-- end of page container -->
<%- include('../partials/footer')-%>