<%- include('../partials/head')-%>
<title>Admin Page </title>



<%- include('../partials/nav')-%>

<div class="admin-page-container">
<h1>ADMIN PAGE</h1>
<button>Add New Herb </button>
<table>
<thead>
<tr>
    <th>Comic Title</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>
</thead>
<tbody>

    <tr>
<td> Egyptian Blue Lotus Flower </td>
<td class="Button-edit"><input type="button" value="Edit" /></td>
 <td class="Button-delete"><input type="button" value="Delete" /></td>
</tr>

<tr>
    <td>Ginger Root</td>
    <td class="Button-edit"><input type="button" value="Edit" /></td>
    <td class="Button-delete"><input type="button" value="Delete" /></td>
    </tr>
   
    <tr>
        <td>Horsetail</td>
        <td class="Button-edit"><input type="button" value="Edit" /></td>
        <td class="Button-delete"><input type="button" value="Delete" /></td>
    </tr>

    <tr>
    <td>Bauhinia Forficata</td>
    <td class="Button-edit"><input type="button" value="Edit" /></td>
    <td class="Button-delete"><input type="button" value="Delete" /></td>
</tr>

 <td colspan="3"></td>
</tr>
</tbody>
</table>

</div>









<%- include('../partials/footer')-%>