<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/3bb7188dce.js" crossorigin="anonymous"></script>
    <title>Sunsha Holistic Collective Booking page</title>
    <script defer src="scripts.js"></script>
</head>
<body>
    <!-- start of nav bar -->
    <div class="navbar">
        <div class = logoImageContainer>
            <img src="./images /logo 1.jpg">
        </div>
<nav>
    <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./herbals.html">Herbal Catalog</a></li>
        <li><a href="./book.html">Book Now</a></li>
    </ul>
</nav>

<div class="icons">
    <i class="fa-solid fa-magnifying-glass"></i>
    <i class="fa-thin fa-bars"></i>
    <i class="fa-regular fa-user"></i>     
</div>
</div>
<!-- end of nav bar -->
<!-- start of page container -->
<div class="book-page-container">
<div class="quiz-form">
<h1>Healing Journey Questionaire:</h1>
<p>In order to best assist on your wellness path, please answer the following questions, and the best options that suit your needs will populate</p>
<form id="quiz-form">
    <div class="quiz-question">
        <p> 1. What do you want to explore on your healing path?</p>
        <div class="quiz-selections">
     <label><input type="radio" name="q1" id="a"> A. Find Your Purpose </label>
     <label><input type="radio" name="q1" id="b"> B.Create healthy eating habits </label>
     <label><input type="radio" name="q1" id="c"> C. Indulge in regular self care.</label>
        </div>
    </div>
    <div class="quiz-question">
        <p>2.What is one important resource you want at the start of your healing journey?</p>
        <div class="quiz-selections">
            <label><input type="radio" name="q2" id="a"> A. Holistic therapy (healing innerchild truama, reiki, meditation) </label>
            <label><input type="radio" name="q2" id="b"> B.Meeting with herbalist,holisitc practioners,or nutritionist </label>
            <label><input type="radio" name="q2" id="c"> C.Create or find a group, tribe or community of your peers on the same healing journey.</label>
        </div>

    </div>
    <button type="submit">Submit</button>

</form>

</div>

<div id="location-container"></div>
    <input id="location">
<img src="./images /location map.jpg">

</div>




<!-- end of page container -->
<!-- start of footbar -->
<div class="footbar"> 
    <div class="footer-img">
    <img src="./images /logo 1.jpg">
    </div>
    <div class="footer-text"> 
        <h2>Keep in Touch</h2>
        <h3> Text line: 857-309-0523</h3>
        <h3>info@sunshaholisticcollective.org</h3>
        </div>
       <div class="footer-text-two">
    <h2>A Product of Codesquad</h2>
    <img src="./images /CodeSquad-logo-a copy.jpeg" alt="code squad logo in words red and black">
    <h3>Developer: Shaquana Mathis</h3>
</div>
    <div class="footer-text-three">
        <h2>Connect with Us</h2>
        <a><i class="fa-brands fa-facebook"></i></a>
           <a><i class="fa-brands fa-instagram"></i></a>
    <a><i class="fa-brands fa-twitter"></i></a>

</div>

</div>
<!-- end of footbar --> 
    
</body>
</html>