<%- include('../partials/head')-%>

<%- include('../partials/nav')-%>
   
        <!-- start of page container -->
        <div class="book-page-container">
          <h1 class="book-page-title">Find Wellness Centers in Boston</h1>
        
<div class="map">

  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1WTzYSPBymzolwSPdRRTc4c0DMLEPVHQ&ehbc=2E312F"  width="600" 
  height="500"></iframe></div>
</div>

 



        <!-- end of page container -->
        <%- include('../partials/footer')-%>