<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/3bb7188dce.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,400&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">  
    <title>Sunsha Holistic Collective Herbs Catalog</title>
    <script  defer src="scripts.js"></script>
</head>
<body>
     <!-- nav bar -->
     <div class="navbar">
        <div class = logoImageContainer>
            <img src="./images /logo 1.jpg">
        </div>
<nav>
    <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="./about.html">About</a></li>
        <li><a href="./herbals.html">Herbal Catalog</a></li>
        <li><a href="./book.html">Book Now</a></li>
        <li><a href="./contact.html">Contact</a></li>
    </ul>
</nav>

<div class="icons">
    <i class="fa-solid fa-magnifying-glass"></i>
    <i class="fa-thin fa-bars"></i>
    <i class="fa-regular fa-user"></i>     
</div>
</div>
<!-- end of nav bar -->
<ul id="alphabetLinks"></ul>


<div class="herb-page-container">
    <h1>Herbal Catalog</h1>
    <button>Add new herb product</button>
    
    <div class="herb-products">
        <a href="https://animamundiherbals.com/products/whole-dried-blue-lotus-flowers">
        <img src="./images /herbalimage1.jpeg"alt="blue flower"></a>
        <h3>Plant Name: Egyptian Blue Lotus Flower</h3>
        <h4>Benefits:</h4>
        <p>Egyptian Blue Lotus Flower was held in high merit by the ancient Egyptians.The flower is used to treat aches and pains within the body, improve brain memory, and promote body circulation. It is best absorbed through in the form of tea</p>
       <a href="https://animamundiherbals.com/products/whole-dried-blue-lotus-flowers">Purchase Here </a>
    </div>
       
    
    <div class="herb-products">
        <a href="https://alkalineherbshop.com/products/just-herbs-ginger-root-cs?variant=39287594483799&currency=USD&utm_medium=product_sync&utm_source=google&utm_content=sag_organic&utm_campaign=sag_organic&gclid=CjwKCAjwpuajBhBpEiwA_ZtfhawBN8abDW_rZeM31lAORv5uZZgtojVrZ486Sf2n_y7xA4UX4gJEQhoCQE0QAvD_BwE">
        <img src="./images /herbalcatalogimage2.jpeg" alt="plant with brown roots"><a 
        <h3> Plant name: Ginger Root</h3>
        <h4>Benefits:</h4>
        <p> Ginger root has been used as nature's alternative to the reduction of bloodclots within the body. Drinking ginger tea, heats up the blood to activate an enzyme in the body Plasmin which dissolves the formation of a blood clot. It is best absorbed through in the form of tea.</p>
        <a href="https://alkalineherbshop.com/products/just-herbs-ginger-root-cs?variant=39287594483799&currency=USD&utm_medium=product_sync&utm_source=google&utm_content=sag_organic&utm_campaign=sag_organic&gclid=CjwKCAjwpuajBhBpEiwA_ZtfhawBN8abDW_rZeM31lAORv5uZZgtojVrZ486Sf2n_y7xA4UX4gJEQhoCQE0QAvD_BwE">Purchase availiable at local grocery stores.</a>
</div>
<div class="herb-products">
    <img src="./images /horsetailimg.jpeg">
    <h2>Plant name: Horsetail </h2>
    <h3>Benefits:</h3>
    <p> Horsetail plant has roots orignated in Europe, Asia, and North America as far back to 416 million years ago. Native americans used the stalk of the plant as a diuretic to repair the kidneys. The plant is also used to stregthen bones and and repair the lungs. It is best abosorbed through form of team and vegertian diet.  </p>
    <a href="https://mountainroseherbs.com/horsetail">Purchase here</a>
</div>

<div class=" herb-products">
    <img src="./images /bauhiniaforficataplant.jpeg">
    <h2>Bauhinia Forficata</h2>
    <h3>Benefits:</h3>
    <p> Bauhinia Forficata is known as the Brazilian orchid tree native to south america. This plant can help strengthen the pancreas. It is known as a vegetable insulin and helps balance the blood sugar levels.</p>
    <a href="https://herbs-america.com/shop/pata-de-vaca-cut-sift/">Purchase here</a>
</div>
</div>
<!-- footbar starts here -->
<div class="footbar">
    <div class="footer-img">
    <img src="./images /logo 1.jpg">
    </div>
    <div class="footer-text"> 
        <h2>Keep in Touch</h2>
        <h3> Text line: 857-309-0523</h3>
        <h3>info@sunshaholisticcollective.org</h3>
        </div>
    <div class="footer-text-three">
        <h2>Connect with Us</h2>
        <a><i class="fa-brands fa-facebook"></i></a>
           <a><i class="fa-brands fa-instagram"></i></a>
    <a><i class="fa-brands fa-twitter"></i></a>
    </div>
    <div class="footer-text-two">
        <h2>A Product of Codesquad</h2>
        <img src="./images /CodeSquad-logo-a copy.jpeg" alt="code squad logo in words red and black">
        <h3>Developer: Shaquana Mathis</h3>
    </div>
</body>

</html>