<%- include('../partials/head')-%> <%- include('../partials/nav')-%>

<!-- start of page-container -->
<div class="page-container">
  <div class="content-section">
    <h1>Welcome to Sunsha Holistic Collective</h1>
    <p class="second-heading">Healing Herbal Transfrom Energy</p>
    <br />
    <p>
      Your source for holisitc medicine and wellness. Offering education on the
      earth's herbs to aid in healing as well as counseling, therapy, many more!
    </p>
    <img src="./images /home page img 1.jpeg" />
    <button class="btn">Explore Services</button>
  </div>
  <!-- <div class="home-page-img">
    <img src="./images /home page img 1.jpeg">  
 </div> -->
</div>
<!-- end of page-container -->
<!-- start of page section container 2 -->

<div class="medical-disclaimer">
  <img src="./images /homepageimg2.jpg" alt="field" />
  <div class="medical-disclaimer-content">
    <h1>Please be Advised</h1>
    <p>
      The information provided on the site is for educational purposes only, and
      does not substitute for professional medical advice. Consult a medical
      professional or healthcare provider if you are seeking medical advice,
      diagnoses, or treatment.
    </p>
  </div>
  <button class="btn">Medical Consent</button>
</div>

<!-- end of page section container 2 -->

<!-- start of page section container 3 -->

<div class="book-appt-container">
  <div class="book-section-content">
    <h1>Consult with a Holistic Counselor</h1>
    <p>
      We are viritual forward and operated wellness center that offers
      education, herbal catalog, and fair trade merchandise. We offer the best
      assist to aid all self help within your holistic jounrey. It is our to
      help all clients feel their best in a safe environment please book an
      annpointment with our counselors
    </p>
  </div>
  <div class="book-section-img">
    <img
      src="./images /bookwithusimage.jpg"
      alt="doctors office waiting area"
    />
  </div>
</div>
<div><button class="btn btn-2">Book Appointment</button></div>
<!-- end of page section container 3 -->
<%- include('../partials/footer')-%>
